img{
    margin-top: 100px;
    margin-left: 500px;
    margin-right: 500px;
    padding-top: 110px;
    width: 400px;
}
#search{
    display:flex;
    margin-left:150px;
    margin-top:40px;
    padding-top: 30px;
    width:1000px;
    border:auto;
    

}